body {
    background-color: rgb(240, 239, 181);
    margin: 0 auto;
    text-align: center;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 50px;
    margin-top: 150px;
}
input[type=text] {
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px 10px 10px 10px ;
}
input::placeholder{
    font-size: 16px;
    font-style: italic;
}
.button {
    margin-left: 20px;
    color: white;
    cursor: pointer;
}
